<footer style="background-color: rgb(9, 63, 45); margin-top: 20px;">
    <div class="container">
        <div class="parent d-flex">
            <div class="sag" style="display: inline-block; margin-left: 110px;">
                <img  src="/static/img/Adsız tasarım (2).png" style="display: inline-block; margin-top: 20px;" width="130px" alt="">
            </div>
            <div class="sol" style="display: inline-block; position: relative; top: 65px; height: 50px;">
                <ul style="display: flex; margin-left: 350px; list-style: none;"> 
                    <li><a style="margin-left: 30px; color: white; font-size: larger;" href="/templates/index.html">Home</a></li>
                    <li><a style="margin-left: 30px; color: white; font-size: larger;" href="/templates/map.html">Map</a></li>
                    <li><a style="margin-left: 30px; color: white; font-size: larger;" href="">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
