{% extends "index.html" %}
{% load static %}

{% block title %}
<title>Ağaç Detayı</title>
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock css %}

{% block header %}
<div class="header-profil">
    {% include "includes/_navbar.html" %}
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <ul class="profil-nav d-flex">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">Hakkında</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/medya/">Medya</a>
            </li>
        </ul>
    </div>

    <h5>{{ agac.id }}</h5>
    <div class="row">
        <div class="col-5">
            {% if agac.aimage %}
            <img src="{{ agac.aimage.url }}" alt="Ağaç Resmi" class="img-thumbnail" width="100">
            {% else %}
            <img src="{% static 'img/default_tree.jpg' %}" alt="Varsayılan Ağaç Resmi" class="img-thumbnail" width="100">
            {% endif %}
        </div>
        <div class="col-6 ms-4 mt-5">
            <button>Haritada görüntüle</button>
        </div>
    </div>

    <h5 class="mt-5">Özellikleri</h5>
    <div class="row">
        <div class="col-6 mt-4">
            <p>{{ agac.ozellik }}</p>
        </div>
    </div>

    <h5 class="mt-5">Önerilen</h5>
    <div class="row">
        <div class="col-6 mt-4">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos animi, doloremque veniam aut ea in eum inventore repellendus modi dolorem aspernatur quod, adipisci dolores aliquid quas ab nam, incidunt voluptas.</p>
        </div>
    </div>

    <h5 class="mt-5">Hyperspectral Images</h5>
    <div class="row mt-5">
        <div class="col-4">
            <img src="/media/resimler/frıends.jpg" alt="">
        </div>
        <div class="col-4">
            <img src="/media/resimler/frıends.jpg" alt="">
        </div>
        <div class="col-4">
            <img src="/media/resimler/frıends.jpg" alt="">
        </div>
    </div>

    <h5 class="mt-5">Thermal Images</h5>
    <div class="row mt-5">
        <div class="col-4">
            <img src="/media/resimler/frıends.jpg" alt="">
        </div>
        <div class="col-4">
            <img src="/media/resimler/frıends.jpg" alt="">
        </div>
        <div class="col-4">
            <img src="/media/resimler/frıends.jpg" alt="">
        </div>
    </div>
</div>
{% endblock content %}
